/* Hugo Blox color theme: GREEN */
:root {
  /* Green Primary Palette */
  --hb-primary-50-rgb: 240 253 244;
  --hb-primary-100-rgb: 220 252 231;
  --hb-primary-200-rgb: 187 247 208;
  --hb-primary-300-rgb: 134 239 172;
  --hb-primary-400-rgb: 74 222 128;
  --hb-primary-500-rgb: 34 197 94;
  --hb-primary-600-rgb: 22 163 74;
  --hb-primary-700-rgb: 21 128 61;
  --hb-primary-800-rgb: 22 101 52;
  --hb-primary-900-rgb: 20 83 45;
  --hb-primary-950-rgb: 5 46 22;
   --hb-nav-bg: #859c3e;
}